/* livvic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2"), url("../fonts/livvic-v14-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* livvic-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2"), url("../fonts/livvic-v14-latin-500italic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"), url("../fonts/livvic-v14-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"), url("../fonts/livvic-v14-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* livvic-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700italic.woff2") format("woff2"), url("../fonts/livvic-v14-latin-700italic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: #014E56;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 73px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 80px;
}
.header__nav__item__link {
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}
.header__btn {
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
  border-radius: 24px;
  border: 2px solid #FFF;
  padding: 9px 33px 11px 32px;
  white-space: nowrap;
}

.header__menu {
  width: 20px;
  height: 17px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../../img/header.menu.svg);
  display: none;
}

@media screen and (max-width: 768px) {
  .header__nav__list, .header__btn {
    display: none;
  }
  .header__menu {
    display: inline-block;
    cursor: pointer;
  }
}
.end {
  background-color: #002529;
}
.end__container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.end__logo {
  margin-bottom: 25px;
}
.end__box1__link {
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
}
.end__box1__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140px;
}
.end__logo__block {
  max-width: 730px;
  display: flex;
  gap: 125px;
}

.end__reserve__list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  max-width: 104px;
  margin-left: auto;
  margin-bottom: 45px;
}

.end__box2__item__text {
  color: #FFF;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 166.667% */
  opacity: 0.6;
}

.end__box2__item {
  max-width: 445px;
}

.end__reserve__item__img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.end__reserve__text {
  max-width: 255px;
  color: #FFF;
  text-align: right;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 166.667% */
  opacity: 0.6;
}

@media screen and (max-width: 820px) {
  .end__container {
    max-width: 689px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
  .end__logo {
    width: 96px;
    height: 24px;
    flex-shrink: 0;
  }
  .end__logo__block {
    display: flex;
    margin-bottom: 34px;
  }
  .end__reserve__list {
    margin-left: 0;
  }
  .end__reserve__block {
    display: flex;
    justify-content: space-between;
  }
  .end__box2__list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .end__box2__item {
    max-width: 200px;
  }
  .end__box2__item__text {
    display: block;
    text-align: right;
  }
  .end__box1__list {
    gap: 24px;
  }
  .end__box1__link {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
  }
}
@media screen and (max-width: 450px) {
  .end__container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .end__logo__block {
    display: flex;
    flex-direction: column;
  }
  .end__logo__block__box1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .end__box2__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }
  .end__reserve__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .end__reserve__list {
    margin-bottom: 16px;
  }
  .end__reserve__text {
    text-align: center;
  }
  .end__logo__block {
    margin-bottom: 40px;
  }
}
.about__container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.about__title {
  max-width: 350px;
  color: #FFF;
  font-family: Livvic;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 16px;
  /* 156.25% */
}
.about__text {
  max-width: 540px;
  color: #F67E7E;
  font-family: Livvic;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 32px;
  /* 150% */
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about__item {
  display: flex;
  align-items: center;
  gap: 23px;
}
.about__item__text {
  max-width: 445px;
  color: #FFF;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 155.556% */
}
.about__item::before {
  content: "";
  background-image: url(../../img/about_item_img1.svg);
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  display: inline-block;
  flex-shrink: 0;
}
.about__item:nth-child(2)::before {
  content: "";
  background-image: url(../../img/about_item_img2.svg);
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  display: inline-block;
  flex-shrink: 0;
}
.about__item:last-child::before {
  content: "";
  background-image: url(../../img/about_item_img3.svg);
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  display: inline-block;
  flex-shrink: 0;
}

.about__input {
  max-width: 445px;
  width: 100%;
  color: #FFF;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 166.667% */
  letter-spacing: -0.115px;
  opacity: 0.6;
  padding: 0px 81px 17px 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.about__input__block {
  max-width: 445px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about__textarea {
  max-width: 445px;
  width: 100%;
  color: #FFF;
  flex-shrink: 0;
  font-family: Livvic;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 166.667% */
  letter-spacing: -0.115px;
  opacity: 0.6;
  padding: 0px 81px 17px 14px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.about__input__btn {
  color: #004047;
  font-family: Livvic;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  /* 155.556% */
  max-width: 123px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 2px solid #FFF;
  background: #FFF;
  padding: 8px 33px 10px 32px;
  margin-right: auto;
}

@media screen and (max-width: 1070px) {
  .about__container {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .about__information__block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
  .about__input__block {
    margin-left: auto;
    margin-right: auto;
  }
  .about__title {
    font-size: 64px;
    line-height: 56px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .about__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=main.css.map */