.header {

    &__container {
        display: flex;
        align-items: center;
        padding-top: 73px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__list {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-left: 80px;
        }

        &__item__link {
            color: #FFF;
            font-family: Livvic;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            /* 155.556% */
        }
    }

    &__btn {
        // display: inline-block ;
        color: #FFF;
        font-family: Livvic;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        /* 155.556% */
        border-radius: 24px;
        border: 2px solid #FFF;
        padding: 9px 33px 11px 32px;
        white-space: nowrap;

    }

}

.header__menu {
    width: 20px;
    height: 17px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(../../img/header.menu.svg);
    display: none;
    
}

@media screen and (max-width: 768px) {
    .header__nav__list, .header__btn {
        display: none;
    }
    .header__menu {
        display: inline-block;
        cursor: pointer;
    }
}